<div id="navbar_searchbar_container"> 
  <div id="navbar">
    <div id="navbar_left">
      <div class="navbar_logo_container">
        <div class="nav_logo_text_container">
          <div class="nav_logo_container"><img id="home_nav_logo" src="assets/icons/home.svg"></div>
          <div class="nav_text_container"><p>Home</p></div>
        </div>
      </div>
      <div class="navbar_logo_container"></div>
    </div>
    <div id="navbar_middle">
      <div id="navbar_oval"><p>Math 206 123-456</p></div>
    </div>
    <div id="navbar_right">
      <div class="navbar_logo_container">
        <div class="nav_logo_text_container">
          <div class="nav_logo_container"><img src="assets/icons/settings.svg"></div>
          <div class="nav_text_container"><p>Settings</p></div>
        </div>
      </div>
      <div class="navbar_logo_container">
        <div class="nav_logo_text_container">
          <div class="nav_logo_container"><img src="assets/icons/logout.svg"></div>
          <div class="nav_text_container"><p>Logout</p></div>
        </div>
      </div>
    </div>
  </div>
  <div id="title_bar">
    <p>Lesson Presenter</p>
  </div>
</div> 
<div id="content_container">
  <div id="content">
    <div id="slide_presenter">
      <div id="page_name_header">
        <div id="page_name_left"></div>
        <div id="page_header">
          <!-- <p>{{current_slide.title}}</p> -->
        </div>  
        <div id="page_name_right">
          <div id="show_panel_button" (click)="showMenu()">
            <p>{{panelStatus}}</p>
            <img class="arrow_icon" src="assets/icons/wiki_left_arrow.svg" *ngIf="!displayPanelsViewEnabled">
            <img class="arrow_icon" src="assets/icons/wiki_right_arrow.svg" *ngIf="displayPanelsViewEnabled">
          </div>  
        </div>
      </div>
      <div id="display_panels_column_wrapper" [ngStyle]="{'left': rect, 'height' : page_scroll_height}" *ngIf="displayPanelsViewEnabled">
        <div id="display_panels_column">
          <div class="panel_thumbnail" *ngFor="let panel of classroomPanels">
            <div class="panel"></div>  
          </div>
        </div>
      </div> 
      <div id="slide_controller">
        <slide-viewer></slide-viewer>
        <div id="page_and_notes_container">
          <div id="page">
            <swiper-viewer></swiper-viewer> 
          </div>
          <div id="notes_section">
            <textarea id="notes" placeholder="Notes..."></textarea>
          </div>
        </div>  
      </div>
    </div> 
    <lesson-plan-viewer></lesson-plan-viewer>
  </div>
</div>

